In [1]:
import pandas as pd
import tabula as tb

In [2]:
columns = ["Sr_No","Claims_Experience","For_Death For_Maturity","Survival_Benefit","For_Annuities_Pension","For_Surrender","Other_Benefits","Date"]
df = tb.read_pdf("Q1.pdf",pages = "all", multiple_tables = True,lattice=True )

In [3]:
# df[0].columns=[1,2]
# date = df[0][2][2]
# date = date.strip("Date:")
# date

In [4]:
# df[0].drop([0,1,2,3], inplace=True)
# df[0]

In [6]:
df[1]

,PERIODIC DISCLOSURES,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,FORM L-40 Group claims data for Life till year...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Insurer: Aditya Birla Sun Life Insurance Co. L...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No. of claims only,Date:30.06.2019,NaN,NaN,NaN,NaN,NaN,NaN
3,Sr. No.,Claims Experience,Death,Maturity,Survival Benefit,Annuities/\rPension,Surrender,Other Benefits
4,1,Claims O/S at the beginning of the period,15,NaN,NaN,NaN,-,NaN
5,2,Claims reported during the period*,2565,NaN,NaN,NaN,786,NaN
6,3,Claims Settled during the period,2431,NaN,NaN,NaN,786,NaN
7,4,Claims Repudiated during the period,0,NaN,NaN,NaN,NaN,NaN
8,a,Less than 3 years from the date of acceptance ...,0,NaN,NaN,NaN,NaN,NaN
9,b,Greater than 3 year from the date of acceptanc...,0,NaN,NaN,NaN,NaN,NaN
10,5,Claims Rejected,0,NaN,NaN,NaN,NaN,NaN
11,6,Claims Written Back,0,NaN,NaN,NaN,NaN,NaN
12,7,Claims Unclaimed** (in the qtr.),0,NaN,NaN,NaN,NaN,NaN
13,8,Claims O/S at End of the period,149,NaN,NaN,NaN,-,NaN
14,NaN,Less than 3months,143,NaN,NaN,NaN,NaN,NaN
15,NaN,3 months to 6 months,3,NaN,NaN,NaN,NaN,NaN
16,NaN,6months to 1 year,3,NaN,NaN,NaN,NaN,NaN
17,NaN,1year and above,0,NaN,NaN,NaN,NaN,NaN
18,* Claims reported include all intimations wher...,NaN,NaN,NaN,NaN,NaN,NaN,NaN