In [1]:
import pandas as pd
import pdfplumber
import re
from collections import namedtuple

In [2]:
Table1 = namedtuple("Table1","Sr_No Claims_Experience For_Death For_Maturity Survival_Benefit For_Annuities_Pension For_Surrender Other_Benefits Date")
Table2 = namedtuple("Table2","Sr_No Claims_Experience Death Maturity Survival_Benefit Annuities_Pension Surrender Other_Benefits Date")

In [14]:
date_re = re.compile(r'(\d{2}\.\d{2}\.\d{4})')
line1_re = re.compile(r'^(\d{1}) ([A-Z][a-zA-Z/ ]+[a-z*]) ([0-9 ]*)')
line2_re = re.compile(r'^([A-Z0-9][a-zA-Z0-9/ ]+[a-z*]) ([0-9 ]*)')
items = line2_re.search('1year and above 0 133 58 296')
item = items.group(2)
print(item.split())

['0', '133', '58', '296']

In [4]:
list1 = []
list2 = []
list_count = -1

with pdfplumber.open("Q1.pdf") as pdf:
    pages = pdf.pages
    for page in pdf.pages:
        text = page.extract_text()
        for line in text.split('\n'):
            print(line)
            if date_re.search(line):
                date = date_re.search(line).group(0)
                list_count += 1
            elif line1_re.search(line):
                items = line1_re.search(line)
                item = items.group(3).split()
                while len(item) != 6:
                    item.append(0)
                if list_count==0:
                    list1.append(Table1(items.group(1),items.group(2),*item, date))
                elif list_count==1:
                    list2.append(Table2(items.group(1),items.group(2),*item, date))
            elif line2_re.search(line):
                items = line2_re.search(line)
                item = items.group(2).split()
                while len(item) != 6:
                    item.append(0)
                if list_count==0:
                    list1.append(Table1("",items.group(1),*item, date))
                elif list_count==1:
                    list2.append(Table2("",items.group(1),*item, date))

PERIODIC DISCLOSURES
FORM L-40 Individual claims data for Life till year ending 30th June '19
Insurer: Aditya Birla Sun Life Insurance Co. Ltd. (Reg No : 109) (formerly: Birla Sun Life Insurance Co. Ltd)
No. of claims only Date:30.06.2019
For Annuities/
Sr. No. Claims Experience For Death For Maturity Survival Benefit For Surrender Other Benefits
Pension
1 Claims O/S at the beginning of the period 24 1206 572 377 107 4202
2 Claims reported during the period* 1371 4915 6129 3335 17514 7532
3 Claims Settled during the period 1216 5354 6486 3356 17138 9642
4 Claims Repudiated during the period 7
Less than 3 years from the date of
aacceptance of risk 7
Greater than 3 year from the date of
bacceptance of risk 0
5 Claims Rejected 0
6 Claims Written Back 0
7 Claims Unclaimed** (in the qtr.)
8 Claims O/S at End of the period 172 767 215 356 483 2092
Less than  3months 169 210 209 168 483 468
3 months to 6 months 1 352 6 71 1057
6months to 1 year 2 72 59 271
1year and above 0 133 58 296
* Claims reported include all intimations where mandatory documents were received
** Pending claims which are transferred to Unclaimed A/c. after a mandatory period as per the internal policy of the insurer
PERIODIC DISCLOSURES
FORM L-40 Group claims data for Life till year ending 30th June '19
Insurer: Aditya Birla Sun Life Insurance Co. Ltd. (Reg No : 109) (formerly: Birla Sun Life Insurance Co. Ltd)
No. of claims only Date:30.06.2019
Annuities/
Sr. No. Claims Experience Death Maturity Survival Benefit Surrender Other Benefits
Pension
1 Claims O/S at the beginning of the period 15               -
2 Claims reported during the period* 2565 786
3 Claims Settled during the period 2431 786
4 Claims Repudiated during the period 0
aLess than 3 years from the date of acceptance of
risk 0
Greater than 3 year from the date of acceptance of
brisk 0
5 Claims Rejected 0
6 Claims Written Back 0
7 Claims Unclaimed** (in the qtr.) 0
8 Claims O/S at End of the period 149               -
Less than  3months 143
3 months to 6 months 3
6months to 1 year 3
1year and above 0
* Claims reported include all intimations where mandatory documents were received

In [5]:
df1 = pd.DataFrame(list1)
df2 = pd.DataFrame(list2)
df1

,Sr_No,Claims_Experience,For_Death,For_Maturity,Survival_Benefit,For_Annuities_Pension,For_Surrender,Other_Benefits,Date
0,1,Claims O/S at the beginning of the period,24,1206,572,377,107,4202,30.06.2019
1,2,Claims reported during the period*,1371,4915,6129,3335,17514,7532,30.06.2019
2,3,Claims Settled during the period,1216,5354,6486,3356,17138,9642,30.06.2019
3,4,Claims Repudiated during the period,7,0,0,0,0,0,30.06.2019
4,5,Claims Rejected,0,0,0,0,0,0,30.06.2019
5,6,Claims Written Back,0,0,0,0,0,0,30.06.2019
6,7,Claims,0,0,0,0,0,0,30.06.2019
7,8,Claims O/S at End of the period,172,767,215,356,483,2092,30.06.2019

In [6]:
df2

,Sr_No,Claims_Experience,Death,Maturity,Survival_Benefit,Annuities_Pension,Surrender,Other_Benefits,Date
0,1,Claims O/S at the beginning of the period,15,0,0,0,0,0,30.06.2019
1,2,Claims reported during the period*,2565,786,0,0,0,0,30.06.2019
2,3,Claims Settled during the period,2431,786,0,0,0,0,30.06.2019
3,4,Claims Repudiated during the period,0,0,0,0,0,0,30.06.2019
4,5,Claims Rejected,0,0,0,0,0,0,30.06.2019
5,6,Claims Written Back,0,0,0,0,0,0,30.06.2019
6,7,Claims,0,0,0,0,0,0,30.06.2019
7,8,Claims O/S at End of the period,149,0,0,0,0,0,30.06.2019